body {
  margin: 0;
  padding: 0;
}

.btn {
  position: relative;
  left: 100px;
  /* top: 100px; */
  padding: 10px 50px;
  background-color: orange;
  border-radius: 10px;
  border: none;
}

.disc {
  position: absolute;
  padding: 2px 10px;
  width: 60px;
  background-color: yellow;
  top: -5px;
  right: -30px;
  rotate: 30deg;
}

.navbar {
  background-color: teal;
  height: 60px;
  width: 100vw;
  color: white;
  text-align: center;
  line-height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar2 {
  background-color: salmon;
  height: 60px;
  width: 100vw;
  color: white;
  text-align: center;
  line-height: 60px;
  position: sticky;
  top: 60px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar2 {
    background-color: blue;
  }
  .navbar {
    background-color: orange;
  }
}
