body {
  background-color: #f2eae2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 600px;
  display: flex;
}
.box img {
  width: 300px;
  object-fit: cover;
}
.container {
  width: 100%;
  background-color: white;
  padding: 24px;
  box-sizing: border-box;
}
.category {
  color: #6c7289;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}
.title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}
.desc {
  color: #6c7289;
  font-size: 14px;
  line-height: 28px;
}
.price span {
  color: #6c7289;
  font-size: 13px;
  text-decoration: line-through;
}
.price {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #3d8168;
  font-size: 32px;
  font-weight: 700;
}
.cart {
  background: #1a4032;
  color: white;
  height: 48px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 480px) {
  .box {
    display: flex;
    flex-direction: column;
    width: 343px;
  }
  .box img {
    height: 240px;
    width: 343px;
  }
}
