body {
  background-color: gainsboro;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1110px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}
.container > div {
  padding: 24px;
  box-sizing: border-box;
  border-radius: 10px;
}
.container > div:nth-child(1) {
  grid-column: 1/3;
  background-color: #733fc8;
}
.container > div:nth-child(2) {
  background: #48556a;
}
.container > div:nth-child(3) {
  background-color: white;
  grid-column: 4/5;
  grid-row: 1/3;
}
.container > div:nth-child(4) {
  background-color: white;
}
.container > div:nth-child(5) {
  background: #19202d;
  grid-column: 2/4;
  grid-row: 2/3;
}

.container > div:nth-child(1) .author,
.container > div:nth-child(2) .author,
.container > div:nth-child(5) .author,
.container > div:nth-child(1) .title,
.container > div:nth-child(2) .title,
.container > div:nth-child(5) .title,
.container > div:nth-child(2) .desc,
.container > div:nth-child(5) .desc {
  color: white;
}

.container > div:nth-child(1) .desc {
  color: #cfcfcf;
}

.container > div:nth-child(3),
.container > div:nth-child(4) {
  color: #48556a;
}

.title {
  font-size: 20px;
  font-weight: 600;
}
.desc {
  font-size: 13px;
  font-weight: 500;
}

.profile {
  display: flex;
  gap: 12px;
}
.profile img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.author {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 500;
}
.author span:nth-child(even) {
  font-size: 11px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
